<div class="w-screen h-screen flex justify-center items-center bg-gray-100">
  <div class="bg-white shadow-2xl rounded-3xl border-2 border-black grid justify-items-center" style="height: auto; width: 25rem;">
    <div class="text-5xl py-10">
      <span class="font-serif">IRep</span>
    </div>

    <form [formGroup]="confirmForm">
      <!-- Email -->
      <div class="flex flex-col w-80">
        <mat-form-field class="text-base" appearance="outline">
          <mat-label>Insira o Código</mat-label>
          <input matInput type="text" [formControlName]="'code'">
          <mat-error class="text-base"
          *ngIf="confirmForm.get('code').hasError('required') && (confirmForm.get('code').dirty || confirmForm.get('code').touched)">
          Código é necessário required</mat-error>
        </mat-form-field>
      </div>
    </form>

    <div class="flex flex-col gap-3 grid justify-items-center">
      <button class="bg-red-600 rounded-2xl text-white h-12 w-80" (click)="confirmCode()">Confirmar</button>
      <button class="text-red-600 my-6 px-3 py-1 border-2 border-red-600 rounded-2xl" [routerLink]="['/register']">Reeviar Código</button>
    </div>
  </div>
</div>

