<div
  class="relative bg-gray-100 flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">

  <!-- Actions -->
  <div class="flex items-center pl-2 ml-auto mr-5">
    <ng-container>
      <span class="text-lg text-red-600 mr-5">Gustavo Esteves</span>
    </ng-container>
    <button mat-button [matMenuTriggerFor]="menu">
      <img class="w-10 h-10 rounded-full" src="../../../assets/imagens/Eu.jpg" alt="">
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><i class="fa fa-star fa-lg mr-3 text-red-600" aria-hidden="true"></i>Favoritos</button>
      <button mat-menu-item><i class="fa fa-user-circle fa-lg mr-3 text-red-600"></i>Perfil</button>
    </mat-menu>
  </div>
</div>
