<div class="bg-gray-200 h-screen pb-5" style="width: 100%;">
  <div class="flex flex-row">
    <div class="text-3xl p-5 ml-5 mb-5">
      Anunciar
    </div>
    <div class="ml-auto mr-10 p-5">
      <button class="bg-red-600 rounded-2xl px-3 py-1 text-white">
        Publicar
      </button>
    </div>
  </div>

    <div class="flex flex-col p-10 px-40">
      <mat-form-field [color]="'primary'" appearance="outline">
        <mat-label>Nome da Rua</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field [color]="'primary'" appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field [color]="'primary'" appearance="outline">
        <mat-label>Bairro</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field [color]="'primary'" appearance="outline">
        <mat-label>Número</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field [color]="'primary'" appearance="outline">
        <mat-label>Contato 1</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field [color]="'primary'" appearance="outline">
        <mat-label>Contato 2</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
  </div>



</div>
