<div class="w-screen h-screen flex justify-center items-center bg-gray-100">
  <div class="bg-white shadow-2xl rounded-3xl border-2 border-black grid justify-items-center" style="height: auto; width: 25rem;">
    <div class="text-5xl py-10">
      <span class="font-serif">IRep</span>
    </div>

    <form [formGroup]="loginForm">
      <!-- Email -->
      <div class="flex flex-col w-80">
        <mat-form-field class="text-base" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" [formControlName]="'email'">
          <mat-error class="text-base"
          *ngIf="loginForm.get('email').hasError('required') && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          Email is required</mat-error>
        </mat-form-field>
      </div>
      <!-- Password -->
      <div class="flex flex-col w-80 my-9">
        <mat-form-field class="text-base" appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" [formControlName]="'pass'" placeholder="*******" data-test="input-password">
          <mat-error class="text-base"
          *ngIf="loginForm.get('pass').hasError('required') && (loginForm.get('pass').dirty || loginForm.get('pass').touched)">
          Password is required</mat-error>
        </mat-form-field>
      </div>
    </form>

    <div class="flex flex-col gap-3 grid justify-items-center">
      <!-- <button class="text-red-600 mb-6 px-3 py-1 border-2 border-red-600 rounded-2xl" [routerLink]="['/forgot-pass']">Esqueceu sua senha?</button> -->
      <button class="bg-red-600 rounded-2xl text-white h-12 w-80" (click)="connectUser()">Entrar</button>
      <button class="text-red-600 my-6 px-3 py-1 border-2 border-red-600 rounded-2xl" [routerLink]="['/register']">Cadastrar-se</button>
      <button class="text-red-600 my-6 px-3 py-1 border-2 border-red-600 rounded-2xl mt-0" [routerLink]="['/confirm']">Confirmar usuário já criado</button>
    </div>
  </div>
</div>
