<div class="w-full h-full flex justify-center items-center bg-gray-100">
  <div class="bg-white rounded-3xl grid justify-items-center" style = "height: 30rem; width: 25rem;">
    <div class="text-5xl py-10">
      <span class="font-serif">IRep</span>
    </div>

    <div class="flex flex-col w-80">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput data-test="input-email">
        <!-- <mat-icon svgIcon="heroicons_solid:mail"></mat-icon> -->
        <!-- <mat-hint>Email</mat-hint> -->
      </mat-form-field>
      <mat-form-field [color]="'primary'" appearance="outline">
        <mat-label>Senha</mat-label>
        <input type="password" matInput placeholder="" data-test="input-password">
        <mat-icon matSuffix></mat-icon>
        <!-- <mat-hint>Senha</mat-hint> -->
      </mat-form-field>
    </div>

    <div class="flex flex-col gap-3 grid justify-items-center">
      <button class="text-red-600 mb-8" [routerLink]="['/forgot-pass']">Esqueceu sua senha?</button>
      <button class="bg-red-600 rounded-2xl text-white h-8 w-80" [routerLink]="['/Irep/dashboard']">Entrar</button>
      <button class="text-red-600 mb-4" [routerLink]="['/register']">Cadastrar-se</button>
    </div>
  </div>
</div>
