<div class="w-56 h-64 bg-white rounded-2xl border-2 border-black pb-1">

  <div>
    <img class="w-56 h-32 rounded-t-2xl" src="{{advert?.image}}" alt="">
  </div>

  <div class="grid items-center pb-1">
    <div class="px-3 py-2 font-medium text-xl">
      {{advert?.name}}
      <ng-container *ngIf="advert?.fav, else notFav">
        <i class="fa fa-star mr-3 text-red-600" aria-hidden="true"></i>
      </ng-container>
      <ng-template #notFav><i class="fa fa-star-o mr-3 text-red-600" aria-hidden="true"></i></ng-template>
    </div>
    <div class="px-3 text-xs">
      {{advert?.city}}
    </div>
    <div class="px-3 text-xs">
      {{advert?.address}}, {{advert?.number}}
    </div>
    <div class="px-3 mb-2 text-xs">
      {{advert?.neighborhood}}
    </div>

  </div>

</div>
