<div class="bg-gray-200 h-screen pb-5" style="width: 100%;">

  <div class="text-3xl p-5 ml-20 mb-10 flex flex-row grid grid-cols-12">
    <div class="py-2 font-medium text-3xl col-span-8 col-start-1">
      {{advert?.nome}}
    </div>
    <div class="col-start-9"><i class="fa fa-trash-o mr-3 text-red-600" aria-hidden="true"></i></div>
  </div>

  <div class="flex flex-row ml-20 gap-28">
    <div class=" rounded-2xl bg-red-600" style="width: 30rem; height: 20rem;">
      <div class="grid justify-items-center flex items-center text-9xl mt-20">
        <i class="fa fa-home mr-3 text-white"></i>
      </div>
    </div>
    <div class="rounded-2xl bg-white w-96 grid justify-items-center">
      <div class="pb-1">
        <div class="px-3 py-2 font-medium text-3xl">
          Endereço
        </div>
        <div class="px-3 text-2xl">
          {{advert?.endereco?.rua}}, {{advert?.endereco?.numero}}, {{advert?.endereco?.bairro}}
        </div>
        <div class="px-3 text-2xl">
          {{advert?.endereco?.cidade}}, {{advert?.endereco?.cep}}, {{advert?.endereco?.estado}}
        </div>
        <div class="px-3 mb-2 text-2xl">

        </div>

      </div>
    </div>
  </div>

  <div class="flex flex-row ml-20 gap-28 mt-8">
    <div class="rounded-2xl bg-white w-96 grid justify-items-center py-5 text-lg" style="width: 30rem;">
      <span>- {{advert?.quartos}} Quartos</span>
      <span>- {{advert?.banheiros}} Banheiros</span>
      <span>- {{advert?.estacionamento}} Estacionamento</span>
      <span *ngIf="advert?.internet, else not">- Com Internet</span>
      <ng-template #not><span>- Sem Internet</span></ng-template>
      <span *ngIf="advert?.gas, else gas">- Com Gás Interno</span>
      <ng-template #gas><span>- Sem Gás Interno</span></ng-template>
    </div>

    <div class="rounded-2xl bg-white w-96 grid justify-items-center">
      <div class="pb-1">
        <div class="px-3 py-2 font-medium text-3xl">
          Contato
        </div>
        <div class="text-lg flex flex-col">
          - {{advert?.contato.email}}<br>
          - {{advert?.contato.telefone}}
        </div>
      </div>
    </div>
  </div>

</div>
